services:
  postgres:
    image: postgres:16
    env_file: ".env"
    volumes:
      - db-data:/var/lib/postgresql/data

  rails:
    build: .
    env_file: ".env"
    environment:
      POSTGRES_HOST: postgres
      RAILS_ENV: production
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - postgres

volumes:
  db-data:
